DATABASE_URL="postgresql://postgres.vikafuuyldjwulraebgo:doudouamrch22@aws-0-eu-west-1.pooler.supabase.com:6543/postgres?pgbouncer=true&connection_limit=1"
ADMIN_API_KEY=482264231738813
CLOUDINARY_URL=cloudinary://482264231738813:mUgnpIJNNnqG2B_btPzYlvQJEuw@dcuxz9sug
CLOUDINARY_CLOUD_NAME=dcuxz9sug
CLOUDINARY_API_KEY=482264231738813
CLOUDINARY_API_SECRET=mUgnpIJNNnqG2B_btPzYlvQJEuw
